table {
    width: 80%;
  }
  #tbl{
      width: 50%;
  }
 .reserve {
     display: flex;
      justify-content: center;
      background-color:darkseagreen;
  }
  
  .example-second-header-row th , .example th {
    border-bottom: none;
  }